body{
background:#f4f6fb;
font-family:system-ui;
margin:0;
padding:0;
}

/* LOGO */

.logo{
height:40px;
margin-right:10px;
}

/* SUB HEADER */

.header-sub{
font-size:12px;
opacity:0.7;
}

/* CARD */

.card{
border:none;
border-radius:15px;
}

/* FOOTER */

.footer{
text-align:center;
padding:20px;
color:#777;
font-size:13px;
}

/* PETA PERUMAHAN */

#mapPerumahan{
display:grid;
gap:20px;
margin-top:10px;
}

/* BLOK */

.blok{
background:white;
padding:15px;
border-radius:12px;
box-shadow:0 3px 10px rgba(0,0,0,0.1);
}

/* GRID RUMAH */

.rumah-grid{
display:grid;
grid-template-columns:repeat(5,1fr);
gap:10px;
margin-top:10px;
}

/* KOTAK RUMAH */

.rumah{
padding:12px;
border-radius:8px;
text-align:center;
font-weight:bold;
color:white;
cursor:pointer;
transition:0.2s;
}

/* BELUM BAYAR */

.belum{
background:#dc2626;
}

/* SUDAH BAYAR */

.lunas{
background:#16a34a;
}

/* HOVER EFFECT */

.rumah:hover{
transform:scale(1.05);
box-shadow:0 2px 6px rgba(0,0,0,0.2);
}

/* RESPONSIVE */

@media(max-width:768px){

.rumah-grid{
grid-template-columns:repeat(4,1fr);
}

}

@media(max-width:500px){

.rumah-grid{
grid-template-columns:repeat(3,1fr);
}

}
.dashboard-card{
cursor:pointer;
transition:0.2s;
}

.dashboard-card:hover{
transform:scale(1.03);
}

.dashboard-card{
padding:30px;
border-radius:20px;
color:white;
text-align:center;
cursor:pointer;
transition:0.3s;
box-shadow:0 10px 25px rgba(0,0,0,0.15);
}

.dashboard-card:hover{
transform:translateY(-5px);
}

.kas{
background:linear-gradient(135deg,#2563eb,#1e40af);
}

.iuran{
background:linear-gradient(135deg,#16a34a,#15803d);
}

.keluar{
background:linear-gradient(135deg,#dc2626,#991b1b);
}

.dashboard-card span{
opacity:0.8;
font-size:13px;
}
